body {
    background-position:center top;
  background-color: rgb(240, 0, 0);
  /*background-image:url('./star.png'); */
  max-width: 100%;
  background-repeat:no-repeat;
  
}
h3{
    text-align:left;
    color:red;
    text-decoration:overline;
    font-family:tahoma;
    font-size:20pt
}
.box
{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}